*{
    padding: 0;
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background: black url("../imgs/fundo-madeira.jpg") top center / cover no-repeat fixed;
}

main{
    position: relative;
    height: 100vh;
}
#celular{
    position: absolute;
    width: 311px;
    height: 627px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../imgs/frame-iphone.png");
    background-repeat: no-repeat;
}
iframe#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 268px;
    height: 471px;
    border-radius: 3px;
}
#redes-sociais{
    float: right;
}
#redes-sociais img{
    display: block;
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.589);
    box-sizing: border-box;
}
#redes-sociais img:hover{
    border: 2px solid rgba(255, 255, 255, 0.750);
    transform: translate(-3px, -3px);
    box-shadow: 4px 5px 8px rgba(0, 0, 0, 0.600);
    transition: transform .3s, border .1s;
}